{% extends 'layout/layout.twig' %}
{% import 'macros/forms.twig' as forms %}

{% block content %}
    <h1>{{ post.title }}</h1>

    <form method="{{ form.attributes.method }}" action="{{ url('blog', {'action': 'edit', 'id': id}) }}" name="blogpost" id="blogpost">
        {% for element in form %}
            {{ forms.input(element.attributes.name, element.value, element.attributes.type, element.label, 20, element.messages) }}
        {% endfor %}
    </form>
{% endblock content %}
